<%- include(`../../fragments/header.ejs`) %>

    <main>
        <h2><%= __('procedure.list.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('procedure.fields.name') %></th>
                    <th class="table-hide-1"><%= __('procedure.fields.coverage') %></th>
                    <th><%= __('procedure.fields.minPrice') %></th>
                    <th><%= __('procedure.fields.maxPrice') %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let procedure of procedures) { %>
                    <tr>
                        <td>
                            <%= procedure.procName %>
                        </td>
                        <td class="table-hide-1">
                            <%= procedure.inCoverage %>
                        </td>
                        <td>
                            <%= procedure.priceFrom %>
                        </td>
                        <td>
                            <%= procedure.priceTo %>
                        </td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/procedure/details/<%= procedure.idProcedure %>">
                                        <img src="/images/details_icon.png" alt="Details" width="30" height="30"
                                            class="list-actions-icon-details">
                                        <span class="list-actions-button-details"><%= __('list.actions.details') %></span>
                                    </a>
                                </li>
                                <% if(loggedUser.role === "admin") { %>
                                <li>
                                    <a href="/procedure/edit/<%= procedure.idProcedure %>">
                                        <img src="/images/edit_icon.png" alt="Edit" width="30" height="30"
                                            class="list-actions-icon-edit">
                                        <span class="list-actions-button-edit"><%= __('list.actions.edit') %></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/procedure/delete/<%= procedure.idProcedure %>">
                                        <img src="/images/delete_icon.png" alt="Delete" width="30" height="30"
                                            class="list-actions-icon-delete">
                                        <span class="list-actions-button-delete"><%= __('list.actions.delete') %></span>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% if(loggedUser.role === "admin") { %>
        <p>
            <a href="/procedure/add" class="button-add"><%= __('procedure.list.addNew') %></a>
        </p>
        <% } %>
    </main>

    <%- include(`../../fragments/footer.ejs`) %>